.clock{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;


}
    .time{
        display: inline-block;
        width: 25%;
        float: left;
    }
    .value{
        display: inline-block;
        width: 100%;
        font-size: 38px;
        line-height: 35px;
        margin-bottom: 10px;

    }
    .label{
        display: inline-block;
        width: 100%;
        font-size: 13px;

    }
    @media (max-width: 600px){
        .clock > .time{
            width: 50%;
        }
    }